In [26]:
import pandas as pd
from pygeocoder import Geocoder

In [19]:
import math

# Distance formula
def distance(origin, destination):
    """
    Calculate the Haversine distance.

    Parameters
    ----------
    origin : tuple of float
        (lat, long)
    destination : tuple of float
        (lat, long)

    Returns
    -------
    distance_in_km : float

    Examples
    --------
    >>> origin = (48.1372, 11.5756)  # Munich
    >>> destination = (52.5186, 13.4083)  # Berlin
    >>> round(distance(origin, destination), 1)
    504.2
    """
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371  # km

    dlat = math.radians(lat2 - lat1)
    dlon = math.radians(lon2 - lon1)
    a = (math.sin(dlat / 2) * math.sin(dlat / 2) +
         math.cos(math.radians(lat1)) * math.cos(math.radians(lat2)) *
         math.sin(dlon / 2) * math.sin(dlon / 2))
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    d = radius * c
    
    # Convert km to miles
    return d * 0.621371


if __name__ == '__main__':
    import doctest
    doctest.testmod()

In [21]:
distance((41.7556818,-72.6650253),(41.7556818,-72.6650253))

0.0

In [32]:
Geocoder.geocode("140 Huyshope, Hartford, CT").coordinates

(41.7556818, -72.66283659999999)

In [2]:
df = pd.read_csv('data/Shotspotter_2017.csv')

In [3]:
df.head()

,Type,ID,Date,Time,Address,Rnds,CAD,Beat,Dist.,Source,Latitude,Longitude,Auto-Acknowledged
0,Other,139665,31-Dec-17,23:59:53,103 Hungerford St,1,NaN,FROG HOLLOW,SOUTH,HartfordCT,41.760582,-72.685976,False
1,Other,139664,31-Dec-17,23:59:52,103 Hungerford St,1,NaN,FROG HOLLOW,SOUTH,HartfordCT,41.760598,-72.685938,False
2,Other,139662,31-Dec-17,23:59:09,68 1/2 Wilbur St,37,NaN,SOUTH WEST,SOUTH,HartfordCT,41.734163,-72.710880,False
3,Other,139658,31-Dec-17,23:57:55,52 Curtiss St,3,NaN,BEHIND THE ROCKS,SOUTH,HartfordCT,41.743730,-72.696512,False
4,Firecracker,139657,31-Dec-17,23:57:10,44-52 Curtiss St,6,NaN,BEHIND THE ROCKS,SOUTH,HartfordCT,41.743642,-72.696484,False

In [9]:
df['Type'].unique()

array(['Other', 'Firecracker', 'Backfire', 'Helicopter',
       'Multiple_Gunshots', 'Gunshot_or_Firecracker', 'Single_Gunshot',
       'Construction', 'System_Test'], dtype=object)

In [16]:
# Filter data to include only confirmed gunshots
df_shots = df[df['Type'].isin(['Single_Gunshot', 'Multiple_Gunshots'])]
df_shots.head()

,Type,ID,Date,Time,Address,Rnds,CAD,Beat,Dist.,Source,Latitude,Longitude,Auto-Acknowledged
61,Multiple_Gunshots,139437,31-Dec-17,12:52:34,11 Hughes St,7,NaN,BEHIND THE ROCKS,SOUTH,HartfordCT,41.742411,-72.694884,False
62,Multiple_Gunshots,139436,31-Dec-17,3:55:10,166-174 Homestead Ave,3,NaN,UPPER ALBANY,NORTH,HartfordCT,41.777432,-72.693924,False
63,Multiple_Gunshots,139435,31-Dec-17,3:04:44,22 Elliott St,9,NaN,BARRY SQUARE,SOUTH,HartfordCT,41.746350,-72.674764,False
65,Multiple_Gunshots,139433,31-Dec-17,3:03:21,17 Elliott St,6,NaN,BARRY SQUARE,SOUTH,HartfordCT,41.746356,-72.673573,False
67,Multiple_Gunshots,139430,31-Dec-17,2:00:32,67 Mapleton St,2,NaN,BARRY SQUARE,SOUTH,HartfordCT,41.738804,-72.687796,False